Package: dev.mpg13.notundertime
Name: UnderTime
Depends: mobilesubstrate
conflicts: dev.mpg13.undertime
Architecture: iphoneos-arm
Description: Customizable iX StatusBar carrier.
Homepage: https://micahpgomez.dev
Depiction: https://micahpgomez.dev/repo/depicts/depiction.html?selectedPackage=dev.mpg13.notundertime
Maintainer: MicahPGomez <jbsupport@micahpgomez.dev>
Author: MicahPGomez <jbsupport@micahpgomez.dev>
Section: Tweaks
Version: 4.2.0-19+debug
Installed-Size: 156
